.signals-contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.moving-area {
    width: 425px;
    height: 150px;
    background-color: #333;
    border-radius: 10px;
    cursor: cell;
    margin-bottom: 20px;
}

.graph {
    margin-bottom: 20px;

}