.circle-container {
    width: 300px;
    height: 300px;
    background-color: #333;
    border-radius: 10px;
    margin-top: 1rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}

.circle {
    width: 250px;
    height: 250px;
    border: 1px solid rgb(181, 195, 235);
    border-radius: 50%;
    margin-left: calc(50px/2);
    margin-top: calc(50px/2);
}

.zero {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #dc3545;
    position: absolute;
    cursor: all-scroll;
    z-index: 3;
}

.pole {
    color: #0d6efd;
    position: absolute;
    cursor: all-scroll;
    z-index: 3;
}

.separator1 {
    width: 300px;
    height: 1px;
    background-color: whitesmoke;
    position: absolute;
    transform: rotate(-90deg);
    top: calc(300px/2);
}

.separator2 {
    width: 300px;
    height: 1px;
    background-color: whitesmoke;
    position: absolute;
    top: calc(300px/2);
}
