body {
  background-color: 	#f7f7f7;
}

button {
    background-color: #3b5998;
    color: white !;
    border-radius: 10px !important;
    border: none;
    width: 200px !important;
    font-size: 25px !important;
    font-family: 'Poppins', sans-serif;
}

.col1{
    display: flex;
    flex-direction: column;
    align-items:center;
    border-radius:22px; 
    margin: 15px 10px 0px 60px;
    background: rgb(139 157 195 / 22%); 
    border-radius: 22px;
    padding-bottom: 15px;
}

.col2 {
    display: flex;
    flex-direction: column;
    align-items:center;
    border-radius:22px; 
    margin: 15px 10px 0px 10px;
    background: rgb(139 157 195 / 22%); 
    border-radius: 22px;
}

.col3 {
    display: flex;
    flex-direction: column;
    align-items:center;
    border-radius:22px; 
    margin: 15px 10px 0px 10px;
    background: rgb(139 157 195 / 22%); 
    border-radius: 22px;
}
