body {
  background-color: 	#f7f7f7;
}

button {
    background-color: #3b5998;
    color: white !;
    border-radius: 10px !important;
    border: none;
    width: 200px !important;
    font-size: 25px !important;
    font-family: 'Poppins', sans-serif;
}