.main{
    text-align: center;
    background: #a1b1d1; 
    border-radius: 22px;
  }
  .flex_row{
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
.thumbnail{
  padding-left: 20px;
  background: #909fc7; 

}
.clicked{
  border: 2px solid #3b5998;
}