
.main{
    /* height: 5vh; */
    width: 100%;
    text-align: center;
    background: #a1b1d1; 
    border-radius: 22px;
    /* padding-bottom: 200px; */
  }
  .flex_row{
    padding-top: 500px;
    height: 600px;
    overflow-y:scroll;

    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
.thumbnail{
  padding-left: 20px;
  background: #909fc7; 

}
.clicked{
  border: 2px solid #3b5998;
}